<tr>
    <td>1</td>
    <td>Exercise</td>
    <td>Put your Reps</td>
    <td>Put your Sets</td>
    <td>Done</td>
    <td>
        <a href="update-exercise" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i> </span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i> </span>
        </a>
    </td>
</tr>