<!-- include header -->
<%- include('partials/header') %>
<!-- include header -->

<!--Main Site-->
<main id="site-main">

    <div class="container-2">
        <div class="box-nav d-flex-justify-between">
            <div class="filer">
                <a href="/"><i class='fas fa-angle-double-left'></i> My Workout Plan</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2>New Exercise</h2>
            <span class="text-light">Enter below the new exercise</span>
        </div>


<!--add exercise form-->
<%- include('partials/form') %>
<!--add exercise form-->

    </div>
</main>
<!--Main Site-->
        



<!-- include footer -->
<%- include('partials/footer') %>
<!-- /include footer -->