
		
		<%- include('partials/header') %>
	

		<main id="site-main">
            <div class="container-2">
                <div class="box-nav d-flex-justify-between">
                    <a href="/add-exercise" class="border-shadow">
                        <span class="text-gradient">Add Workout</span>
                    </a>
                </div>
        
                <!--Form Handling-->
                <form action="/" method="POST">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr> 
                                <th> ID</th>
                                <th> Name</th>
                                <th> Reps </th>
                                <th> Sets</th>
                                <th> Status</th>
                                <th> Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('partials/show') %>
                        </tbody>
                    </table>
                </form>
            </div>
        </main>
        <!---Main Site--->
        
            
		<!-- include footer -->
		<%- include('partials/footer') %>
		<!-- /include footer -->