<%- include('partials/header') %>


<main id="site-main">

    <div class="container-2">
        <div class="box-nav d-flex-justify-between">
            <div class="filer">
                <a href="/"><i class='fas fa-angle-double-left'></i> My Workout Plan</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Exercises</h2>
            <span class="text-light">Update your exercises below</span>
        </div>



        <!--Form Handling-->
        <form method="POST" id="update_exercise">
            <div class="new_exercise">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" value="" placeholder="Dumbbells">
                </div>
                <div class="form-group">
                    <label for="name" class="text-light">Reps</label>
                    <input type="text" name="reps" value="" placeholder="2">
                </div>
                <div class="form-group">
                    <label for="name" class="text-light">Sets</label>
                    <input type="text" name="sets" value="" placeholder="2">
                </div
            </div>

            <div class="form-group">
                <label for="" class="text-light">Status</label>
                <div class="radio inline">   
                   <input type="radio" id="radio-1" name="status" value="Active">
                   <label for="radio-1" class="radio-label">Active</label>
                </div>
                <div class="radio inline">
                    <input type="radio" id="radio-2"name="status" value="Inactive">
                    <label for="radio-2" class="radio-label">Inactive</label>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn text-dark update">Save</button>
            </div>
      </form>
    </div>
</main>



<!-- include footer -->
<%- include('partials/footer') %>
<!-- /include footer -->